<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/dashboard">Home</a>
            <i class="fa fa-angle-double-right"></i>
        </li>
        <li>
            <a href="/book">Book</a>
            <i class="fa fa-angle-double-right"></i>
        </li>
        <li>
            <span>Add</span>
        </li>
    </ul>
</div>
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">
    Add Book
</h3>
<!-- END PAGE TITLE-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <h3 class="form-section">Book Details</h3>
                <!-- BEGIN FORM-->
                <form action="/book/add" method="post" enctype="multipart/form-data" class="form-horizontal" id="form_sample_3">
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button> You have some form errors. Please check below.
                        </div>
                        <% if(typeof error != 'undefined' && error.name ) { %>
                            <div class="alert alert-danger">
                                <button class="close" data-close="alert"></button> Please enter another movie name. This name is alredy exist.
                            </div>
                            <% } %>
                                <% if(typeof error != 'undefined' && error.slug ) { %>
                                    <div class="alert alert-danger">
                                        <button class="close" data-close="alert"></button> Please enter another movie slug. This slug is alredy exist.
                                    </div>
                                    <% } %>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Category :
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <select class="form-control select2me" name="cate_id" id="cate_id" required>
                                                            <option value="">Select Category</option>
                                                            <% for(let i = 0; i < records.length; i++) { %>
                                                                <option value=<%=records[i]._id %> >
                                                                    <%= records[i].name %>
                                                                </option>
                                                                <% } %>
                                                        </select>
                                                        <% if(typeof error != 'undefined' && error.actor ) { %>
                                                            <span style="color:red">
                                                                <%= error.actor_id[1].message %>
                                                            </span>
                                                            <% } %>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Name :
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="title" required placeholder="Enter Book Name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Author :
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="author" required placeholder="Enter Author Name">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Publisher :
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="publisher" required placeholder="Enter Publisher">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">ISBN_10 :
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <input type="number" class="form-control" name="isbn_10" required placeholder="Enter ISBN_10">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">ISBN_13 :
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <input type="number" class="form-control" name="isbn_13" required placeholder="Enter ISBN_13">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Price :
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <input type="number" class="form-control" name="price" id="music" required placeholder="Enter Book Price">
                                                        <% if(typeof error != 'undefined' && error.music ) { %>
                                                            <span style="color:red">
                                                                <%= error.music[1].message %>
                                                            </span>
                                                            <% } %>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Pages :
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="pages" id="music" required placeholder="Enter pages Ex: 200 Pages">
                                                        <% if(typeof error != 'undefined' && error.music ) { %>
                                                            <span style="color:red">
                                                                <%= error.music[1].message %>
                                                            </span>
                                                            <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Description :
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <textarea name="desc" id="description" class="form-control" required rows="8" placeholder="Enter Book Description"></textarea>
                                                        <% if(typeof error != 'undefined' && error.description ) { %>
                                                            <span style="color:red">
                                                                <%= error.description[1].message %>
                                                            </span>
                                                            <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Image Upload
                                                        <span class="required"> * </span>
                                                    </label>
                                                    <div class="col-md-9">
                                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                                            </div>
                                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                                            <div>
                                                                <span class="btn default btn-file">
                                                                    <span class="fileinput-new"> Select image </span>
                                                                    <span class="fileinput-exists"> Change </span>
                                                                    <input type="file" name="sampleFile" id="avatar" required> </span>
                                                                <% if(typeof error != 'undefined' && error.image ) { %>
                                                                    <span style="color:red">
                                                                        <%= error.image[0].message %>
                                                                    </span>
                                                                    <% } %>
                                                                        <a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                    </div>
                    <div class="form-actions right">

                        <a href="/book" class="btn default" title="Cencel">
                            <i class="fa fa-mail-reply"></i>&nbsp;Cancel</a>
                        <button type="submit" class="btn blue" title="Save">
                            <i class="fa fa-check"></i> Save</button>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

<script>
    function getSlug() {
        var movieName = document.getElementById("name").value.toLowerCase().trim();
        document.getElementById("slug").value = movieName.split(' ').join('-');
    }

</script>