<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/dashboard">Home</a>
            <i class="fa fa-angle-double-right"></i>
        </li>
        <li>
            <a href="/promocode">Promocode</a>
            <i class="fa fa-angle-double-right"></i>
        </li>
        <li>
            <span>Edit</span>
        </li>
    </ul>
</div>
<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">
    <%= data.name %>
        <small>Edit Promocode</small>
</h3>
<!-- END PAGE TITLE-->

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <h3 class="form-section">Promocode Details</h3>
                <!-- BEGIN FORM-->
                <form action="/promocode/edit/<%= data.id %>" method="post" enctype="multipart/form-data" class="form-horizontal" id="form_sample_3">
                    <div class="form-body">
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button> You have some form errors. Please check below.
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Name(code) :
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" required name="name" id="name" required value="<%- data.name %>">

                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Discount :
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" required name="discount" id="discount" required value="<%- data.discount %>">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Amount :
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" required name="amount" id="amount" required value="<%- data.amount %>">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Description :
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-9">
                                        <textarea name="description" id="description" class="form-control" required rows="8" value="<%- data.description %>"><%- data.description %></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <a href="/actors" class="btn default" title="Cencel">
                            <i class="fa fa-mail-reply"></i>&nbsp;Cancel</a>
                        <button type="submit" class="btn blue" title="Update">
                            <i class="fa fa-check"></i> Update</button>
                    </div>
                </form>
                <!-- END FORM-->
            </div>

        </div>
    </div>
</div>